* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    letter-spacing: 0.03em;
    line-height: 1.6;
    max-width: 100%;
 }
 input[type="text"],
 input[type="password"],
 input[type="tel"],
 input[type="date"]{
    font-size: 20px;
    padding: 10px;
    border: none;
     
 }
 .input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
    text-align: center;
    width: 100%;
 }
 .from-control{
	width: 50%;
	border: none;
	width: 100%;
	text-align: center;
	font-size: 21px;
	color: rgb(107, 107, 107);
}
 .formulario{
	text-align: center;
    margin-top: 150px;
    padding: 3px;
 }
 h1{
    background-color: #ffffff;
    text-align: center;
    margin: auto auto 50px auto;
 }
 .button{
    cursor: pointer;
    border: none;
    width: 100%;
    font-size: 20px;
    background: #3668B1;
    padding: 15px 20px;
    border-radius: 5px;
 }
  .button1{
    cursor: pointer;
    border: none;
    width: 100%;
    font-size: 20px;
    background: #3668B1;
    padding: 15px 20px;
    border-radius: 5px;
    margin: auto auto 200px auto;
 }
 .button:hover{
    background: rgb(0, 162, 255);
    text-decoration: none;
 }
 .button1:hover{
	background: rgb(0, 162, 255);
    text-decoration: none;
}
 p{
    text-align: center;
 }
 .text-registro a{
    color: #000;
    text-decoration: none;
    font-weight: 600;  
 }

 
 .fecha{
    color: rgb(107, 107, 107);
    display:flex;
    font-size: 21px;
    padding-left: 10px;
 }
 .text-registro:hover a{
    text-decoration: underline;
 }
 @media(min-width:760px)
 {
    .formulario{
       font-family: Arial, Helvetica, sans-serif;
       margin: 100px auto auto auto;
       width: 600px;
       border-radius: 2%;
    }   
    .formulario1{
	 font-family: Arial, Helvetica, sans-serif;
       margin: 200px auto auto auto;
       width: 600px;
       border-radius: 2%;
	}
 }

.enums-inline {
	display: inline;
}