<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https: //fonts.googleapis.com/css2? familia = Roboto: ital, wght @ 0,100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1,900 & display = swap "
        rel=" stylesheet ">
    <title>Neighbourcare</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="index.html"><img src="img/nuevo logo-03.png" alt="logo pagina">
            </a>
        </div>
        <div>
            <nav class="links">
                <a href="pages/quienes_somos.html">Quienes Somos</a>
                <a href="pages/amigos.html">Amigos</a>
                <a href="voluntarios.html">Voluntarios</a>
                <a href="pages/match.html">Match</a>
                <a href="pages/registrarse.html">Registrarse</a>
            </nav>
        </div>
    </header>

    <main>
        <section id ="inicio">
            <img src="img/index.jpg" alt="imagen fundación">
        </section>

        <article class=texto-central>
            <p>Somos una organización benéfica que llega a personas mayores y aisladas en el norte de Westminster,
                Londres. Ya sea que desee utilizar nuestros servicios o recomendarnos a alguien o unirse a nosotros como
                voluntario.</p>
        </article>
    </main>

    <footer class="contenedor">
        <div class="contactos">
            <div>
                <p>Telefono: 0207 586 5153</p>
                <p>Email:info@neighbourcaresjwmv.org.uk</p>
                <p>Numero de organización benefica registrada: 1087571</p>
            </div>
        </div>

        <div class="redes">
            <div class="whatsapp">
                <img src="img/whatsapp.png" alt="whatsapp">
                <p>0207 586 5153</p>
            </div>
            <div class="facebook">
                <img src="img/facebook.png" alt="facebook">
                <p>/neighbourcare</p>
            </div>
            <div class="instagram">
                <img src="img/instagram.png" alt="instagram">
                <p>@neighbourcare</p>
            </div>
        </div>
    </footer>
</body>

</html>