<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>HelpFull</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">Nuestra Familia</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li sec:authorize="isAnonymous()"><a th:href="@{/voluntario/login}">Login</a></li>
          <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/amigo/registroAmigos}">Crear Amigo</a></li>
          <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
          <li sec:authorize="hasRole('ROLE_VOLUNTARIO')"><a th:href="@{/voluntario/perfil}">Perfil</a></li>
          <li sec:authorize="isAuthenticated()"><a th:href="@{/amigo/listaAmigos}">listar Amigos</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Sobre Nosotros</h2>
          <!-- <ol>
            <li><a href="index.html">Home</a></li>
            <li>Our Story</li>
          </ol> --> 
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Story Intro Section ======= -->
    <section id="story-intro" class="story-intro">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="assets/img/qs/qs1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Educar para el envejecimiento, escuchar a las personas mayores, entender la vejez como una nueva oportunidad, implica producir una respuesta revolucionaria a nivel social.</h3>
            <p class="fst-italic">
              En nuestra Organización tratamos de crear un entorno favorable a la salud y al bienestar de nuestros afiliados.
            </p>
            <ul>
              <li><i class="bi bi-check-circled"></i> Contribuir a elevar el nivel de salud y el grado de satisfacción de las personas.</li>
              <li><i class="bi bi-check-circled"></i> Mejoramos la calidad de vida del adulto mayor.</li>
              <li><i class="bi bi-check-circled"></i> Nos enfocamos en prevenir o retardar la aparición de enfermedades y discapacidades a q éstas pudieran conllevar es su evolución.</li>
            </ul>
            <p>
              Desarrollamos la formación y capacitación de los recursos humanos especializados y los propios de la comunidad, que garanticen la calidad de las vías no formales de atención y la integración activa de estas a la comunidad.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Story Intro Section -->

    <!-- ======= Featured Members Section ======= -->
    <section id="featured-members" class="featured-members">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <img src="assets/img/qs/qs2.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-3 pt-lg-0">
            <h3>Fomentamos el desarrollo y capacitación de los recursos humanos propios de la organización.</h3>
            <p class="fst-italic">
              Desarrollamos actividades educativas sobre la importancia y la responsabilidad del individuo en el diagnóstico de cualquier tipo de discapacidad.
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Promovemos cambios de estilo de vida, hábitos y costumbres que favorezcan la salud.</li>
              <li><i class="bi bi-check"></i> Orientamos a familias sobre el estrés  Psicosocial.</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-lg-6 order-1 order-lg-2">
            <img src="assets/img/qs/qs3.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 order-2 order-lg-1 pt-3 pt-lg-0">
            <h3>Garantizamos la atención integral, escalonada, oportuna y eficaz al grupo de tercera edad.</h3>
            <p class="fst-italic">
              Buscamos definir, diseñar e implementar políticas y programas destinados a la población adulta.
            </p>
            <p>
              Cuidamos, asistimos y promovemos la integración y el envejecimiento activo de las personas mayores del pais. Somos una organización promotora de valores y principios centrales del enfoque amigable con la edad.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Featured Members Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Mi Familia</h3>
      <p>Teléfono: 0207 586 5153</p>
      <p>info@helpfull.com</p>
      <p>Número de organización benéfica registrada: 1087571</p> 

      <div class="social-links">
        
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        
      </div>
      
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>