<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Our Story - MeFamily Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/logo-blanco.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a th:href="@{/}">HelpFul</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a th:href="@{/nuestrahistoria}">Quienes Somos</a></li>
          <li sec:authorize="isAnonymous()"><a th:href="@{/voluntario/login}">Login</a></li>
          <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/amigo/registroAmigos}">Crear Amigo</a></li>
          <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
          <li sec:authorize="isAuthenticated()"><a th:href="@{/amigo/listaAmigos}">listar Amigos</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Perfil de Usuario</h2>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Members Section ======= -->
    <section id="members" class="members">
      <div class="container">

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img th:src="@{/voluntario/load/__${usuario.username}__}" class="img-fluid" width="100%" alt="">
                
              </div>
              <div class="member-info">
                <h4 th:text="${usuario.nombre}+' '+${usuario.apellido}"></h4><p><a th:href="@{/voluntario/modificarVoluntario}">Editar</a></p>
                <span>Descripcion sobre ti</span>
                <p th:text="${usuario.descripcion}"></p>
              </div>
            </div>
          </div>

    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="escrituraperfil">
            <label class="label">Nombre:</label><br><br>
            <label class="label">Apellido:</label><br><br>
            <label class="label">Dirección:</label><br><br>
            <label class="label">DNI:</label><br><br>
            <label class="label">Mail:</label><br><br>
            <label class="label">Teléfono:</label><br><br>
            <label class="label">Fecha de Nacimiento:</label><br><br>
            <label class="label">Fecha de alta:</label><br><br>
            <label class="label">Intereses:</label><br><br>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="escrituraperfil2">
            <div class="member-img">
              <label class="label" th:text="${usuario.nombre}"></label><br><br>
              <label class="label" th:text="${usuario.apellido}"></label><br><br>
              <label class="label" th:text="${usuario.direccion}"></label><br><br>
              <label class="label" th:text="${usuario.dni}"></label><br><br>
              <label class="label" th:text="${usuario.email}"></label><br><br>
              <label class="label" th:text="${usuario.telefono}"></label><br><br>
              <label class="label" th:text="${usuario.nacimiento}"></label><br><br>
              <label class="label" th:text="${usuario.alta}"></label><br><br>
              <label class="label" th:text="${usuario.intereses}"></label><br><br>
            </div>
          </div>
        </div>
      </div>
    </section>
    
     <section id="event-list" class="event-list">
     <h3 class="section-title">Matchs!</h3>
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" th:each="amigo : ${amigos}">
            <div class="card">
              <div class="card-img">
                <img th:src="@{/amigo/load/__${amigo.id}__}" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title" th:text="${amigo.nombre}+' '+${amigo.apellido}">Lara's 1th Birthday</h5>
                <p class="fst-italic text-center" th:text="'Fecha de alta: '+${amigo.alta}"></p>
                <p class="card-text" th:text="'Telefono: '+${amigo.telefono}"></p>
                <p class="card-text" th:text="'Nacimiento: '+${amigo.nacimiento}"></p>
                <p class="card-text" th:text="'Direccion: '+${amigo.direccion}"></p>
                <p class="card-text" th:text="'Miembro desde: '+${amigo.alta}"></p>
                <p class="card-text" th:text="'Intereses: '+${amigo.intereses}"></p>
                <p class="card-text" th:text="'Discapacidades: '+${amigo.discapacidades}"></p>
                <p class="card-text" th:text="'Necesidades: '+${amigo.necesidades}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- End Members Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>HelpFul</h3>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>HelpFul</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>