<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https: //fonts.googleapis.com/css2? familia = Roboto: ital, wght @ 0,100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1,900 & display = swap "
        rel=" stylesheet ">
    <title>Neighbourcare</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>
        <div class="logo">
            <a th:href="@{/}"><img src="../img/nuevo logo-03.png" alt="logo pagina">
            </a>
        </div>

        <nav class="links">
            <a th:href="@{/quienes_somos}">Quienes Somos</a>
            <a th:href="@{/amigos}">Amigos</a>
            <a th:href="@{/voluntarios}">Voluntarios</a>
            <a th:href="@{/match}">Match</a>
            <a th:href="@{/registrarse}">Registrarse</a>
        </nav>
    </header>
    <main>
        <section id="inicio">
            <img src="../img/quienes somos.jpg" alt="imagen fundación">
        </section>
        <div class="quienes_somos">
            <p>Quienes somos</p>
        </div>
        <div class="historia">
        <p>Neighbourcare St John's Wood y Maida Vale comenzaron a mediados de la década de 1970, pero ahora nadie
            sabe exactamente cuándo. Fue una iniciativa de la Iglesia Bautista en St John's Wood Road. Desarrolló
            rápidamente relaciones con otros lugares de culto locales, pero hoy los voluntarios y amigos tienen una
            amplia variedad de creencias o ninguna.<br><br>

            Aunque estas relaciones han florecido a lo largo de los años, Neighbourcare no está vinculado a ninguna
            fe en particular. Muchos de nuestros voluntarios y aquellos a quienes servimos no tienen fe en absoluto.
            <br><br>
            Nuestras principales actividades son el trato personal con personas aisladas (en su mayoría ancianos) y
            llevar a estas y otras personas de paseo en nuestro minibús. Vaya a nuestra página de actividades para
            obtener más detalles.
            <br><br>
            En el último recuento teníamos 59 voluntarios "activos" ("activos" para nosotros significa contactos
            regulares cada quince días al menos). Se estaban haciendo amigos de 63 personas. Los voluntarios son de
            todos los grupos de edad adulta y de muchas naciones, hablan una amplia variedad de idiomas y hacen o
            han hecho muchos tipos de trabajos diferentes. Normalmente no esperan mencionar el trabajo de
            Neighbourcare en los próximos CV. Todos están controlados por el servicio de datos y restricción al
            unirse.
            <br><br>
            Durante la temporada 2019/20 realizamos más de 4 salidas semanales en nuestros dos minibuses. Nuestro
            grupo ideal para una excursión es de 8 personas, pero en caso de necesidad podemos subir hasta 12.
            <br><br>
            Neighbourcare está totalmente gestionado por voluntarios. No tenemos personal remunerado, aunque
            contratamos conductores para asegurarnos de que nuestros dos minibuses no estén inactivos con demasiada
            frecuencia.
        </p>
    </div>
    </main>
    <footer class="contenedor">
        <div class="contactos">
            <div>
                <p>Telefono: 0207 586 5153</p>
                <p>Email:info@neighbourcaresjwmv.org.uk</p>
                <p>Numero de organización benefica registrada: 1087571</p>
            </div>
        </div>

        <div class="redes">
            <div class="whatsapp">
                <img src="../img/whatsapp.png" alt="whatsapp">
                <p>0207 586 5153</p>
            </div>
            <div class="facebook">
                <img src="../img/facebook.png" alt="facebook">
                <p>/neighbourcare</p>
            </div>
            <div class="instagram">
                <img src="../img/instagram.png" alt="instagram">
                <p>@neighbourcare</p>
            </div>
        </div>
    </footer>
</body>

</html>

