<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>HelpFul</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
	
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  
  <!-- Favicons -->
  <link href="/img/logo-blanco.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link href="/assets/css/estiloss.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a th:href="@{/}">HelpFul</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
		  <li><a th:href="@{/nuestrahistoria}">Quienes Somos</a></li>
          <li sec:authorize="isAnonymous()"><a th:href="@{/voluntario/login}">Login</a></li>
          <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/amigo/registroAmigos}">Crear Amigo</a></li>
          <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
          <li sec:authorize="hasRole('ROLE_VOLUNTARIO')"><a th:href="@{/voluntario/perfil}">Perfil</a></li>
          <li sec:authorize="isAuthenticated()"><a th:href="@{/amigo/listaAmigos}">listar Amigos</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
	<div class="contenedor-error" th:if="${error != null}">
		<label class="mensaje-error" th:text="${error}">Holy guacamole!</p>
	</div>
    <form class="formulario" th:action= "@{/amigo/guardar}" method="POST" enctype="multipart/form-data">
        <h1>Registrar Amigo</h1>
        <div class="contenedor">
            <div class="input-contenedor">
                <input class="from-control" type="text" placeholder="Nombre" name="nombre" >
            </div>
            <div class="input-contenedor">
                <input class="from-control" type="text" placeholder="Apellido" name="apellido">
            </div>
            <div class="input-contenedor">
                <input class="from-control" type="text" placeholder="Telefono" name="telefono">
            </div>
            <div class="input-contenedor">
                <p class="from-control">Fecha de nacimiento</p>
                <input class="from-control" type="date" name="nacimiento">
            </div>
            <div class="input-contenedor">
                <input class="from-control" type="file" name="foto" >
            </div>
            <div class="input-contenedor">
                <input class="from-control" type="text" placeholder="Direccion" name="direccion">
            </div>
            <div id="row g-3">
            <div class="input-contenedor">
            <p class="from-control">Provincia</p>
            	<select id="provincias" class="from-control" name="provincia">
            	</select>
            </div>
            </div>
            <div id="row g-3">
            <div class="input-contenedor">
            <p class="from-control">Localidad</p>
            	<select id="localidad" class="from-control" name="localidad">
            	</select>
            </div>
            </div>
            <div class="input-contenedor">
            	<p class="from-control">Discapacidades</p>
                <ul>
                   	<li class="enums-inline" th:each= "n : ${discapacidades}">
                   		<input class="enums-inline" type="checkbox" th:value ="${n}" name = "discapacidades">
                   		<label class="enums-inline" for="discapacidades" th:text = "${n}"></label>
                   	</li>
                </ul>
			</div>
			<div class="input-contenedor">
            	<p class="from-control">Necesidades</p>
                <ul>
                   	<li class="enums-inline" th:each= "n : ${necesidades}">
                   		<input class="enums-inline" type="checkbox" th:value ="${n}" name = "necesidades">
                   		<label class="enums-inline" for="necesidades" th:text = "${n}"></label>
                   	</li>
                </ul>
			</div>
			<div class="input-contenedor">
            	<p class="from-control">Intereses</p>
                <ul>
                   	<li class="enums-inline" th:each= "n : ${intereses}">
                   		<input class="enums-inline" type="checkbox" th:value ="${n}" name = "intereses">
                   		<label class="enums-inline" for="intereses" th:text = "${n}"></label>
                   	</li>
                </ul>
			</div>
                <input type="submit" value="Registro" class="button">
        </div>
    </form>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  
  <script th:inline="javascript">
let $provincias = document.getElementById('provincias')  
let $localidad = document.getElementById('localidad')

/*<![CDATA[*/
let zonas = /*[[${zona}]]*/ "asdas";
/*]]>*/

const provincias_sin_rep = [];

for(var i = 0; i < zonas.length; i++) {
 
  const elemento = zonas[i]['provincia'];
 
  if (!provincias_sin_rep.includes(elemento)) {
    provincias_sin_rep.push(elemento);
  }
}

function array_de_localidad_x_prov(provincia){
	
	let localidad = [];

	for(var i = 0; i < zonas.length; i++) {

  		if (zonas[i]['provincia']==provincia) {
    		localidad.push(zonas[i]['localidad']);
  		}
	}
	
	return localidad
}


function mostrar(array, lugar){
	let elementosOptions = '<option selected disable>--Seleccione--</option>'
	
	for(var i = 0; i < array.length; i++){
		elementosOptions += '<option value= "' + array[i] + '">' + array[i] + '</option>'
	}

	lugar.innerHTML = elementosOptions
}

mostrar(provincias_sin_rep, $provincias)


$provincias.addEventListener('change',function(){
	let valor = $provincias.value
	
	switch(valor){
		case "San Juan":
			mostrar(array_de_localidad_x_prov("San Juan"), $localidad)
		break
		case "La Pampa":
			mostrar(array_de_localidad_x_prov("La Pampa"), $localidad)
		break
		case "Formosa":
			mostrar(array_de_localidad_x_prov("Formosa"), $localidad)
		break
		case "Buenos Aires":
			mostrar(array_de_localidad_x_prov("Buenos Aires"), $localidad)
		break
		case "Mendoza":
			mostrar(array_de_localidad_x_prov("Mendoza"), $localidad)
		break
		case "Chaco":
			mostrar(array_de_localidad_x_prov("Chaco"), $localidad)
		break
		case "Salta":
			mostrar(array_de_localidad_x_prov("Salta"), $localidad)
		break
		case "Entre Ríos":
			mostrar(array_de_localidad_x_prov("Entre Ríos"), $localidad)
		break
		case "Chubut":
			mostrar(array_de_localidad_x_prov("Chubut"), $localidad)
		break
		case "Santiago Del Estero":
			mostrar(array_de_localidad_x_prov("Santiago Del Estero"), $localidad)
		break
		case "Jujuy":
			mostrar(array_de_localidad_x_prov("Jujuy"), $localidad)
		break
		case "Santa Fe":
			mostrar(array_de_localidad_x_prov("Santa Fe"), $localidad)
		break
		case "Misiones":
			mostrar(array_de_localidad_x_prov("Misiones"), $localidad)
		break
		case "Santa Cruz":
			mostrar(array_de_localidad_x_prov("Santa Cruz"), $localidad)
		break
		case "La Rioja":
			mostrar(array_de_localidad_x_prov("La Rioja"), $localidad)
		break
		case "Córdoba":
			mostrar(array_de_localidad_x_prov("Córdoba"), $localidad)
		break
		case "Corrientes":
			mostrar(array_de_localidad_x_prov("Corrientes"), $localidad)
		break
		case "Ciudad De Buenos Aires":
			mostrar(array_de_localidad_x_prov("Ciudad De Buenos Aires"), $localidad)
		break
		case "Catamarca":
			mostrar(array_de_localidad_x_prov("Catamarca"), $localidad)
		break
		case "Tucumán":
			mostrar(array_de_localidad_x_prov("Tucumán"), $localidad)
		break
		case "Tierra Del Fuego, Antártida E Islas Del Atlántico Sur":
			mostrar(array_de_localidad_x_prov("Tierra Del Fuego, Antártida E Islas Del Atlántico Sur"), $localidad)
		break
		case "Neuquén":
			mostrar(array_de_localidad_x_prov("Neuquén"), $localidad)
		break
		case "San Luis":
			mostrar(array_de_localidad_x_prov("San Luis"), $localidad)
		break
		case "Río Negro":
			mostrar(array_de_localidad_x_prov("Río Negro"), $localidad)
		break
	}
	
})

</script>


   <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>HelpFul</h3>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>HelpFul</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
	

</body>

</html>