<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https: //fonts.googleapis.com/css2? familia = Roboto: ital, wght @ 0,100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1,900 & display = swap "
        rel=" stylesheet ">
    <title>Neighbourcare</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="../index.html"><img src="../img/nuevo logo-03.png" alt="logo pagina">
            </a>
        </div>

        <nav class="links">
            <a th:href="@{/quienes_somos}">Quienes Somos</a>
            <a th:href="@{/amigos}">Amigos</a>
            <a th:href="@{/voluntarios}">Voluntarios</a>
            <a th:href="@{/match}">Match</a>
            <a th:href="@{/registrarse}">Registrarse</a>
        </nav>
    </header>
    <main>
    <div class="container">
        <div class="card">
            <img src="../img/1.png">
            <h4>Courtney Henry</h4>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="../img/2.png">
            <h4>Marvin McKinney</h4>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="../img/3.png">
            <h4>Arlene McCoy</h4>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="../img/4.png">
            <h4>Jerome Bell</h4>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="../img/5.png">
            <h4>Theresa Webb</h4>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="../img/6.png">
            <h4>Albert Flores</h4>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="../img/7v.png">
            <h4>Bessie Cooper</h4>
            <a href="#">Leer más</a>
        </div>

        <div class="card">
            <img src="../img/8.png">
            <h4>Wade Warren</h4>
            <a href="#">Leer más</a>
        </div>
    </div>
</main>
<footer class="contenedor">
    <div class="contactos">
        <div>
            <p>Telefono: 0207 586 5153</p>
            <p>Email:info@neighbourcaresjwmv.org.uk</p>
            <p>Numero de organización benefica registrada: 1087571</p>
        </div>
    </div>

    <div class="redes">
        <div class="whatsapp">
            <img src="../img/whatsapp.png" alt="whatsapp">
            <p>0207 586 5153</p>
        </div>
        <div class="facebook">
            <img src="../img/facebook.png" alt="facebook">
            <p>/neighbourcare</p>
        </div>
        <div class="instagram">
            <img src="../img/instagram.png" alt="instagram">
            <p>@neighbourcare</p>
        </div>
    </div>
</footer>
</body>

</html>


